.PageHeader {
  padding-block: var(--space-7) var(--space-6);
}

.PageHeader-title {
  font-size: var(--font-size-3xl);
  text-align: center;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.06px;
  line-height: 110%;
}


@media (min-width: 550px) {
  .PageHeader{
    display:none;
  }
}
 
