.PlanRow {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
.PlaneLineItem{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.PlaneImage{
  display: flex;
}

.PlanRow-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.PlanRow-name {
  margin: 0;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-title-review);
}

.PlanRow-variant {
  color: var(--color-text-interactive);
}


.PlanRow-price-original {
  font-size: var(--font-size-xs);
  color: var(--color-text-price-strikethrough);
  text-decoration: line-through;
}

.PlanRow-price-current {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-interactive);
}
