.ProductCard {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: var(--space-3);
  padding: var(--space-4);
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  background: var(--color-surface);
  position: relative;
}

.ProductCard-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-1);
  align-self: start;
  width:100%;
  padding-top: var(--space-6);
}

.ProductCard-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.ProductCard-badge {
  padding-inline: var(--space-2);
  padding-block: var(--space-1);
  border-radius: var(--radius-full);
  background: var(--color-bg-primary);
  color: var(--color-button-foreground);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  position: absolute;
  top: var(--space-2);
  left:var(--space-2);
}

.ProductCard-image {
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: contain;
  align-self: center;
}


.ProductCard-name {
  margin: 0;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-title);
}

.ProductCard-description {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--color-text-description);
}

.ProductCard-learn-more {
  color: var(--color-text-interactive);
  text-decoration: underline;
}

.ProductCard-footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.ProductCard-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
}

.ProductCard-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-1);
}

.ProductCard-price-original {
  font-size: var(--font-size-sm);
  color: var(--color-text-price-strikethrough);
  text-decoration: line-through;
}

.ProductCard-price-current {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-interactive);
}

.ProductCard[data-selected="true"] {
  border: 1px solid rgb(var(--color-brand-purple)/0.75);
  box-shadow: var(--shadow-md);
}

@media (min-width: 320px) {
  .ProductCard {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 550px) {
  .ProductCard {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .ProductCard-media{
    justify-self: center;
  }
  .ProductCard-image{
    width: 8rem;
    height: 8rem;
  }
  .ProductCard-price-original{
    color: var(--color-red);
  }
   .ProductCard-price-current{
    color: rgb(var(--color-gray-neutral-700));
  }
}

@media (min-width: 1280px) {
  .ProductCard {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  .ProductCard-media{
    justify-self: start;
  }
  .ProductCard-image{
    width: 6.5rem;
    height: 6.5rem;
  }
}
