.ProductGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
}

@media (min-width: 550px) {
  .ProductGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .ProductGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 868px) {
  .ProductGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1068px) {
  .ProductGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1280px) {
  .ProductGrid {
    grid-template-columns: repeat(2, 1fr);
  }
 .ProductGrid > *:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    max-width: calc(50% - var(--space-4) / 2);
    justify-self: center;
  }
}
.ProductGrid {
    padding-inline:var(--space-2);
  }
@media (min-width: 500px) {
  .ProductGrid {
    padding-inline:0
  }
}

