.Page {
  display: flex;
  flex-direction: column;
}


@media (min-width: 500px) {
  .Page{
   padding-inline: var(--container-padding-inline);
}
}

@media (min-width: 1024px) {
  .Page{
   padding-inline: var(--container-padding-inline);
}
}
