.VariantPicker {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.VariantPicker-option {
  all: unset;
  display: flex;
  padding: 1px 5px;
  border: 0.5px solid var(--color-border);
  border-radius: var(--radius-xxs);
  cursor: pointer;
  font-size: var(--font-size-xs);
  align-items: center;
}

.VariantPicker-option:focus-visible{
   outline: 2px solid var(--color-text-interactive);
   outline-offset: 2px;
}

.VariantPicker-option[data-state="checked"] {
  border-color: var(--color-text-success);
}

.VariantPicker-swatch {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--radius-full);
  object-fit: cover;
  display: block;
}
